{{> header}}

<div id="wrapper" class="container">
    <nav class="row">
    </nav>
    <div class="row">
        <aside id="chatters" class="col-xs-3">
            <h2 class="col-xs-12">Online</h2>
            <ul id="chatters-list" class="col-xs-12">
                <li class="chatter row">
                    <span class="chatter-name col-xs-11 online">Oso</span>
                </li>
                <li class="chatter row">
                    <span class="chatter-name col-xs-11 online">Smash</span>
                </li>
                <li class="chatter row">
                    <span class="chatter-name col-xs-11 not-online">Boo</span>
                </li>
            </ul>
        </aside>
        <section id="interaction-pane" class="col-xs-9">
            <div id="history" class="row">
                <h2 class="col-xs-12">Chat History</h2>
                <ul id="entries" class="col-xs-12">
                    <li class="entry row">
                        <span class="chatter-name col-xs-3">Oso</span>
                        <span class="chat-content col-xs-8">What's up?</span>
                    </li>
                    <li class="entry row">
                        <span class="chatter-name col-xs-3">Smash</span>
                        <span class="chat-content col-xs-8">Not much. How 'bout you?</span>
                    </li>
                    <li class="entry row">
                        <span class="chatter-name col-xs-3">Oso</span>
                        <span class="chat-content col-xs-8">Working on Chitchat</span>
                    </li>
                </ul>
            </div>

            <div id="chat-entry-wrapper" class="row">
                <div class="input-group">
                    <label class="sr-only" for="chat-entry">Chat Entry</label>
                    <input id="chat-entry" class="form-control" type="text" name="chat-entry" placeholder="Say something..." />
                    <span class="input-group-btn">
                        <button id="chitchat" class="btn btn-default" type="button">Chitchat</button>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>

{{> footer}}
